@import url("https://fonts.googleapis.com/css2?family=Georama:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import "tailwindcss";

:root {
  --bg-desktop: url("/images/thehamza-tech-wallpaper-desktop.webp");
  --bg-mobile: url("/images/thehamza-tech-wallpaper-mobile.webp");
}

html,
body {
  width: 100dvw;
  overflow: hidden;
  height: 100dvh;
  background-image: var(--bg-mobile, url("/images/thehamza-tech-wallpaper-mobile.webp"));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width: 768px) {
  html,
  body {
    background-image: var(--bg-desktop, url("/images/thehamza-tech-wallpaper-desktop.webp"));
  }
}

@theme {
  --font-georama: "Georama", sans-serif;
  --font-roboto: "Roboto Mono", monospace;
  --breakpoint-3xl: 1920px;
  --animate-spin-slow: logo-spin 20s linear infinite;

  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }

    to {
      transform: rotate(360deg);
    }
  }
}